
USE [Marketplace]
GO
/****** Object:  UserDefinedTableType [dbo].[ImageUrlTableType]    Script Date: 1/17/2026 1:44:28 PM ******/
CREATE TYPE [dbo].[ImageUrlTableType] AS TABLE(
	[ImageUrl] [varchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ProductImageTableType]    Script Date: 1/17/2026 1:44:28 PM ******/
CREATE TYPE [dbo].[ProductImageTableType] AS TABLE(
	[ImageId] [varchar](50) NULL,
	[ImageUrl] [varchar](max) NULL
)
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cart_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [varchar](50) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckoutDrafts]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckoutDrafts](
	[DraftId] [varchar](50) NOT NULL,
	[BuyerId] [varchar](50) NOT NULL,
	[CartItemsJson] [nvarchar](max) NOT NULL,
	[ShippingOptionsJson] [nvarchar](max) NOT NULL,
	[ShippingAddressJson] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[SessionId] [nvarchar](255) NULL,
	[Status] [varchar](20) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DraftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [varchar](50) NOT NULL,
	[OrderId] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[ShippingPrice] [decimal](10, 2) NULL,
	[ItemTotal]  AS ([Quantity]*[UnitPrice]+[ShippingPrice]) PERSISTED,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProductImageUrl] [nvarchar](max) NULL,
	[CategoryId] [varchar](50) NULL,
	[SubCategoryId] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [varchar](50) NOT NULL,
	[BuyerId] [varchar](50) NOT NULL,
	[SellerId] [varchar](50) NOT NULL,
	[ShippingId] [varchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentIntentId] [nvarchar](255) NULL,
	[DeliveryStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderShippingDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderShippingDetails](
	[OrderShippingId] [varchar](50) NOT NULL,
	[OrderId] [varchar](50) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[StateOrProvince] [nvarchar](100) NULL,
	[PostalCode] [varchar](20) NULL,
	[Country] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetRequests]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetRequests](
	[ResetId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[TokenHash] [nvarchar](512) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[ImageUrl] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [varchar](50) NOT NULL,
	[CategoryId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[InStock] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[SubCategoryId] [varchar](50) NOT NULL,
	[ShippingPrice] [decimal](10, 2) NOT NULL,
	[ExpressShippingPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Price]+[ShippingPrice]) PERSISTED,
	[ExpressTotalPrice]  AS ([Price]+[ExpressShippingPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMedia]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMedia](
	[MediaId] [varchar](50) NOT NULL,
	[ReviewId] [varchar](50) NOT NULL,
	[ImageURL] [varchar](2083) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[UserId] [varchar](50) NOT NULL,
	[BusinessNumber] [nvarchar](20) NOT NULL,
	[BusinessName] [nvarchar](255) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[IsVerified] [bit] NULL,
	[PaymentAccount] [nvarchar](100) NULL,
	[IsStoreActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BusinessNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BusinessName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetails](
	[ShippingId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[AddressLine1] [nvarchar](255) NOT NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](100) NOT NULL,
	[StateOrProvince] [nvarchar](100) NULL,
	[PostalCode] [varchar](20) NULL,
	[Country] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryId] [varchar](50) NOT NULL,
	[CategoryId] [varchar](50) NOT NULL,
	[SubCategoryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [varchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsEmailVerified] [bit] NULL,
	[VerificationToken] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[WishListItemId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishListItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_WishList_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CheckoutDrafts_Buyer_Status]    Script Date: 1/17/2026 1:44:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_CheckoutDrafts_Buyer_Status] ON [dbo].[CheckoutDrafts]
(
	[BuyerId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CheckoutDrafts_CreatedAt]    Script Date: 1/17/2026 1:44:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_CheckoutDrafts_CreatedAt] ON [dbo].[CheckoutDrafts]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Default_Shipping]    Script Date: 1/17/2026 1:44:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_Default_Shipping] ON [dbo].[ShippingDetails]
(
	[UserId] ASC
)
WHERE ([IsDefault]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[CheckoutDrafts] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[CheckoutDrafts] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[CheckoutDrafts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [ShippingPrice]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Processing') FOR [DeliveryStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderShippingDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewMedia] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sellers] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Sellers] ADD  DEFAULT ((0)) FOR [IsStoreActive]
GO
ALTER TABLE [dbo].[ShippingDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShippingDetails] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[WishList] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Categories]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_SubCategories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([SubCategoryId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_SubCategories]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Buyers] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Buyers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Sellers] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Sellers] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Sellers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shipping] FOREIGN KEY([ShippingId])
REFERENCES [dbo].[ShippingDetails] ([ShippingId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shipping]
GO
ALTER TABLE [dbo].[OrderShippingDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderShippingDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderShippingDetails] CHECK CONSTRAINT [FK_OrderShippingDetails_Orders]
GO
ALTER TABLE [dbo].[PasswordResetRequests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sellers] FOREIGN KEY([UserId])
REFERENCES [dbo].[Sellers] ([UserId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sellers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SubCategories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SubCategories]
GO
ALTER TABLE [dbo].[ReviewMedia]  WITH CHECK ADD  CONSTRAINT [FK_ReviewMedia_Reviews] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([ReviewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewMedia] CHECK CONSTRAINT [FK_ReviewMedia_Reviews]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [FK_Sellers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [FK_Sellers_Users]
GO
ALTER TABLE [dbo].[ShippingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetails_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShippingDetails] CHECK CONSTRAINT [FK_ShippingDetails_Users]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_Products]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([DeliveryStatus]='Cancelled' OR [DeliveryStatus]='Delivered' OR [DeliveryStatus]='Shipped' OR [DeliveryStatus]='Processing'))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([InStock]>(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='seller' OR [Role]='buyer' OR [Role]='admin'))
GO
/****** Object:  StoredProcedure [dbo].[AddShippingDetail]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddShippingDetail]
    @ShippingId VARCHAR(50),
    @UserId VARCHAR(50),
    @FullName NVARCHAR(255),
    @PhoneNumber VARCHAR(20),
    @AddressLine1 NVARCHAR(255),
    @AddressLine2 NVARCHAR(255) = NULL,
    @City NVARCHAR(100),
    @StateOrProvince NVARCHAR(100) = NULL,
    @PostalCode VARCHAR(20) = NULL,
    @Country VARCHAR(50),
    @IsDefault BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    -- If new address is marked as default, unset existing defaults for this user
    IF @IsDefault = 1
    BEGIN
        UPDATE ShippingDetails
        SET IsDefault = 0
        WHERE UserId = @UserId;
    END;

    INSERT INTO ShippingDetails (
        ShippingId, UserId, FullName, PhoneNumber,
        AddressLine1, AddressLine2, City, StateOrProvince,
        PostalCode, Country, CreatedAt, IsDefault
    )
    VALUES (
        @ShippingId, @UserId, @FullName, @PhoneNumber,
        @AddressLine1, @AddressLine2, @City, @StateOrProvince,
        @PostalCode, @Country, GETDATE(), @IsDefault
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[AddToCart]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddToCart]
    @CartItemId VARCHAR(50),
    @UserId VARCHAR(50),
    @ProductId VARCHAR(50),
    @Quantity INT = 1  -- ✅ Default to 1 If you later add a quantity input in your frontend or API, you can still override it — flexibility + safety
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM CartItems
        WHERE UserId = @UserId AND ProductId = @ProductId
    )
    BEGIN
        UPDATE CartItems
        SET Quantity = Quantity + @Quantity
        WHERE UserId = @UserId AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO CartItems (CartItemId, UserId, ProductId, Quantity)
        VALUES (@CartItemId, @UserId, @ProductId, @Quantity);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[AddToWishList]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddToWishList]
    @WishListItemId VARCHAR(50),
    @UserId VARCHAR(50),
    @ProductId VARCHAR(50)  
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN
        INSERT INTO WishList (WishListItemId, UserId, ProductId)
        VALUES (@WishListItemId, @UserId, @ProductId);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddUser]
    @UserId VARCHAR(50),
    @Username NVARCHAR(50),
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(255),
    @Role VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Users (UserId, Username, Email, PasswordHash, Role)
    VALUES (@UserId, @Username, @Email, @PasswordHash, @Role);
END;
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserId VARCHAR(50),
    @NewPasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET PasswordHash = @NewPasswordHash,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckBusinessDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CheckBusinessDetails](
    @BusinessNumber NVARCHAR(20),
    @BusinessName NVARCHAR(255)
)
AS
BEGIN 
    IF EXISTS(SELECT 1 FROM Sellers WHERE BusinessNumber=@BusinessNumber)
    BEGIN
        RAISERROR('The BusinessNumber provided is already registered, please double check and try again', 16,1)
        RETURN;
    END

    -- Check if Business Name already exists
    IF EXISTS (
        SELECT 1 FROM Sellers WHERE BusinessName = @BusinessName
    )
    BEGIN
        RAISERROR(
            'The BusinessName provided is already registered, please try a new one.',
            16, 1
        );
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CheckBusinessNumber]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CheckBusinessNumber](
    @BusinessNumber NVARCHAR(20)
)
AS
BEGIN 
    IF EXISTS(SELECT 1 FROM Sellers WHERE BusinessNumber=@BusinessNumber)
    BEGIN
        RAISERROR('The BusinessNumber provided is already registered, please double check and try again', 16,1)
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ClearUserCart]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ClearUserCart]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CartItems
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[ClearUsersResetRequests]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ClearUsersResetRequests]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM PasswordResetRequests
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[ClearUserWishList]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ClearUserWishList]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM WishList
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateCheckoutDraft]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CreateCheckoutDraft]
    @DraftId VARCHAR(50),
    @BuyerId VARCHAR(50),
    @CartItemsJson NVARCHAR(MAX),
    @ShippingOptionsJson NVARCHAR(MAX),
    @ShippingAddressJson NVARCHAR(MAX),
    @TotalAmount DECIMAL(10,2) = NULL,
    @SessionId NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CheckoutDrafts (
        DraftId, BuyerId, CartItemsJson, ShippingOptionsJson, ShippingAddressJson,
        TotalAmount, SessionId, Status, IsUsed, CreatedAt
    )
    VALUES (
        @DraftId, @BuyerId, @CartItemsJson, @ShippingOptionsJson, @ShippingAddressJson,
        @TotalAmount, @SessionId, 'pending', 0, GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrder]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CreateOrder]
    @OrderId VARCHAR(50),
    @BuyerId VARCHAR(50),
    @SellerId VARCHAR(50),
    @ShippingId VARCHAR(50),
    @TotalAmount DECIMAL(10,2),
    @PaymentIntentId NVARCHAR(255),
    @DeliveryStatus NVARCHAR(50),
    @CartItemsJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 🧾 1️⃣ Insert into Orders
        INSERT INTO Orders (
            OrderId, BuyerId, SellerId, ShippingId,
            TotalAmount, PaymentIntentId, DeliveryStatus, CreatedAt
        )
        VALUES (
            @OrderId, @BuyerId, @SellerId, @ShippingId,
            @TotalAmount, @PaymentIntentId, @DeliveryStatus, GETDATE()
        );

        -- 🧱 2️⃣ Insert OrderItems (parsed from JSON array)
        -- Each element of @CartItemsJson should have:
        -- ProductId, Quantity, UnitPrice, ProductName, Description, ProductImageUrl,
        -- CategoryId, SubCategoryId, ShippingPrice
        INSERT INTO OrderItems (
            OrderItemId, OrderId, ProductId, Quantity, UnitPrice,
            ShippingPrice, ProductName, Description,
            ProductImageUrl, CategoryId, SubCategoryId, CreatedAt
        )
        SELECT
            NEWID() AS OrderItemId,
            @OrderId,
            JSON_VALUE(item.value, '$.ProductId') AS ProductId,
            CAST(JSON_VALUE(item.value, '$.Quantity') AS INT) AS Quantity,
            CAST(
                COALESCE(
                    JSON_VALUE(item.value, '$.UnitPrice'),
                    JSON_VALUE(item.value, '$.Price')
                ) AS DECIMAL(10,2)
            ) AS UnitPrice,
            CAST(
                COALESCE(
                    JSON_VALUE(item.value, '$.ShippingPrice'),
                    0
                ) AS DECIMAL(10,2)
            ) AS ShippingPrice,
            JSON_VALUE(item.value, '$.ProductName') AS ProductName,
            JSON_VALUE(item.value, '$.Description') AS Description,
            JSON_VALUE(item.value, '$.ProductImageUrl') AS ProductImageUrl,
            JSON_VALUE(item.value, '$.CategoryId') AS CategoryId,
            JSON_VALUE(item.value, '$.SubCategoryId') AS SubCategoryId,
            GETDATE() AS CreatedAt
        FROM OPENJSON(@CartItemsJson) AS item;

        -- ✅ 3️⃣ Snapshot user shipping info at order time
        INSERT INTO OrderShippingDetails (
            OrderShippingId, OrderId, FullName, PhoneNumber,
            AddressLine1, AddressLine2, City, StateOrProvince,
            PostalCode, Country, CreatedAt
        )
        SELECT
            NEWID(),
            @OrderId,
            s.FullName,
            s.PhoneNumber,
            s.AddressLine1,
            s.AddressLine2,
            s.City,
            s.StateOrProvince,
            s.PostalCode,
            s.Country,
            GETDATE()
        FROM ShippingDetails s
        WHERE s.ShippingId = @ShippingId;

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrState INT = ERROR_STATE();

        RAISERROR(@ErrMsg, @ErrSeverity, @ErrState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreateUser]
    @UserId VARCHAR(50),
    @Username NVARCHAR(50),
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(255),
    @Role VARCHAR(20) = 'Buyer',
    @VerificationToken NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Users (UserId, Username, Email, PasswordHash, Role, VerificationToken)
    VALUES (@UserId, @Username, @Email, @PasswordHash, @Role, @VerificationToken);
END;
 
GO
/****** Object:  StoredProcedure [dbo].[DecrementCartItemQuantity]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DecrementCartItemQuantity]
    @UserId VARCHAR(50),
    @ProductId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentQuantity INT;

    SELECT @CurrentQuantity = Quantity
    FROM CartItems
    WHERE UserId = @UserId AND ProductId = @ProductId;

    IF @CurrentQuantity IS NOT NULL
    BEGIN
        IF @CurrentQuantity > 1
        BEGIN
            UPDATE CartItems
            SET Quantity = Quantity - 1
            WHERE UserId = @UserId AND ProductId = @ProductId;
        END
        ELSE
        BEGIN
            DELETE FROM CartItems
            WHERE UserId = @UserId AND ProductId = @ProductId;
        END
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteCategory]
    @CategoryId VARCHAR(50)
AS
BEGIN
    DELETE FROM Categories WHERE CategoryId = @CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteProduct](@ProductId VARCHAR(50))
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Delete associated images first
        DELETE FROM ProductImages WHERE ProductId = @ProductId;
        
        -- Then delete the product
        DELETE FROM Products WHERE ProductId = @ProductId;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteShippingDetail]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteShippingDetail]
    @ShippingId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM ShippingDetails
    WHERE ShippingId = @ShippingId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteSubCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteSubCategory]
    @SubCategoryId VARCHAR(50)
AS
BEGIN
    DELETE FROM SubCategories WHERE SubCategoryId = @SubCategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteUser]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserCompletely]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---NOT SAFE -------- USE ONLY IN TEST MODE--------
CREATE   PROCEDURE [dbo].[DeleteUserCompletely]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Delete OrderShippingDetails linked to Orders (as Seller or Buyer)
        DELETE FROM OrderShippingDetails
        WHERE OrderId IN (
            SELECT OrderId FROM Orders
            WHERE BuyerId = @UserId OR SellerId = @UserId
        );

        -- Step 2: Delete OrderItems linked to those Orders
        DELETE FROM OrderItems
        WHERE OrderId IN (
            SELECT OrderId FROM Orders
            WHERE BuyerId = @UserId OR SellerId = @UserId
        );

        -- Step 3: Delete Orders where user is Buyer or Seller
        DELETE FROM Orders
        WHERE BuyerId = @UserId OR SellerId = @UserId;

        -- Step 4: Delete Products by the user (seller)
        DELETE FROM Products
        WHERE UserId = @UserId;

        -- Step 5: Delete Seller profile (if exists)
        DELETE FROM Sellers
        WHERE UserId = @UserId;

        -- Step 6: Delete Shipping Details
        DELETE FROM ShippingDetails
        WHERE UserId = @UserId;

        -- Step 7: Finally, delete the user record itself
        DELETE FROM Users
        WHERE UserId = @UserId;

        COMMIT TRANSACTION;

        PRINT '✅ User and all related data deleted successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        PRINT '❌ Error occurred while deleting user.';
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EnsureOtherSubCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EnsureOtherSubCategory]
    @CategoryId VARCHAR(50),
    @SubCategoryId VARCHAR(50)
AS
BEGIN
    -- Check if "Other" exists for this category
    IF NOT EXISTS (
        SELECT 1 
        FROM SubCategories
        WHERE CategoryId = @CategoryId
          AND SubCategoryName = 'Other'
    )
    BEGIN
        INSERT INTO SubCategories (SubCategoryId, CategoryId, SubCategoryName)
        VALUES (@SubCategoryId, @CategoryId, 'Other')
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCategories]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetAllCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Categories
    ORDER BY CategoryName ASC;  -- Sort categories alphabetically (A → Z)
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllProductDetails]
AS
BEGIN
    SELECT 
        p.ProductId,
        p.ProductName,
        p.Description,
        p.InStock,
        p.Price,
        p.CreatedAt,
        p.UpdatedAt,
        s.BusinessName,
        s.Country,
        -- Get only the first image per product (can be changed if needed)
        pi.ImageUrl
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId -- assuming ImageId reflects upload order
    ) pi
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
    SELECT * FROM Products
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllSubCategories]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllSubCategories]
AS
BEGIN
	SELECT * FROM SubCategories
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllSubCategoriesOfCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllSubCategoriesOfCategory]
    @CategoryId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM SubCategories
    WHERE CategoryId = @CategoryId
END;

GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    -- SELECT UserId, Username, Email, Role, CreatedAt, UpdatedAt
    SELECT *
    FROM Users
    -- WHERE IsDeleted = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetCategoryById]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCategoryById](@CategoryId VARCHAR(50))
AS
BEGIN
    SELECT * FROM Categories WHERE CategoryId = @CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryByName]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCategoryByName](@CategoryName VARCHAR(50))
AS
BEGIN
    SELECT * FROM Categories WHERE CategoryName = @CategoryName
END
GO
/****** Object:  StoredProcedure [dbo].[GetCheckoutDraft]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCheckoutDraft]
    @DraftId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM CheckoutDrafts
    WHERE DraftId = @DraftId AND IsUsed = 0
END;

-- SELECT * FROM CheckoutDrafts WHERE DraftId = 'f20862a4-0dbc-48b2-9de8-a836afd9ad02' AND IsUsed = 0
GO
/****** Object:  StoredProcedure [dbo].[GetDefaultShipping]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetDefaultShipping]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 
        ShippingId,
        UserId,
        FullName,
        PhoneNumber,
        AddressLine1,
        AddressLine2,
        City,
        StateOrProvince,
        PostalCode,
        Country,
        CreatedAt,
        IsDefault
    FROM ShippingDetails
    WHERE UserId = @UserId
      AND IsDefault = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductById]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductById](@ProductId VARCHAR(50))
AS
BEGIN
    SELECT * FROM Products WHERE ProductId = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetProductDetails]
    @ProductId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        P.ProductId,
        P.ProductName,
        P.Description,
        P.InStock,
        P.Price,
        P.ShippingPrice,
        P.ExpressShippingPrice,
        P.TotalPrice,
        P.ExpressTotalPrice,
        P.CreatedAt,
        P.UpdatedAt,

        -- Category info
        C.CategoryId,
        C.CategoryName,

        -- SubCategory info
        SC.SubCategoryId,
        SC.SubCategoryName,

        -- Seller info
        S.UserId AS SellerId,
        S.BusinessNumber,
        S.BusinessName,
        S.Country,
        S.IsVerified,

        -- Product images as JSON array
        (
            SELECT 
                PI.ImageId,
                PI.ImageUrl
            FROM ProductImages PI
            WHERE PI.ProductId = P.ProductId
            FOR JSON PATH
        ) AS ProductImages

    FROM Products P
    INNER JOIN Categories C ON P.CategoryId = C.CategoryId
    INNER JOIN Sellers S ON P.UserId = S.UserId
    INNER JOIN SubCategories SC ON P.SubCategoryId = SC.SubCategoryId
    WHERE P.ProductId = @ProductId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductImages]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductImages](@ProductId VARCHAR(50))
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ImageId, ImageUrl 
    FROM ProductImages 
    WHERE ProductId = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsBySeller]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsBySeller]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.ProductId,
        p.ProductName,
        p.Description,
        p.InStock,
        p.Price,
        p.ShippingPrice,
        p.ExpressShippingPrice,
        p.TotalPrice,
        p.ExpressTotalPrice,
        p.CategoryId,
        p.SubCategoryId,
        p.CreatedAt,
        p.UpdatedAt,
        -- Fetch the first image for preview purposes
        pi.ImageUrl
    FROM Products p
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId -- assumes sequential image IDs
    ) pi
    WHERE p.UserId = @UserId
    ORDER BY p.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsFromCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsFromCategory](
    @CategoryId VARCHAR(50)
)
AS
BEGIN
    SELECT 
        p.ProductId,
        p.ProductName,
        p.Description,
        p.InStock,
        p.Price,
        p.CreatedAt,
        p.UpdatedAt,
        s.BusinessName,
        s.Country,
        pi.ImageUrl
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId
    ) pi
    WHERE p.CategoryId = @CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsFromSubCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsFromSubCategory](
    @SubCategoryId VARCHAR(50)
)
AS
BEGIN
    SELECT 
        p.ProductId,
        p.ProductName,
        p.Description,
        p.InStock,
        p.Price,
        p.CreatedAt,
        p.UpdatedAt,
        s.BusinessName,
        s.Country,
        pi.ImageUrl
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId
    ) pi
    WHERE p.SubCategoryId = @SubCategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsPaginated]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsPaginated]
    @limit INT,
    @offset INT,
    @searchTerm NVARCHAR(100) = NULL,  
    @categoryId INT = NULL
AS
BEGIN

SET NOCOUNT ON
--GETTING THE TOTAL COUNT
SELECT 
        COUNT(*) AS TotalCount
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId
    WHERE 
        p.InStock > 0
        AND (@searchTerm IS NULL 
            OR p.ProductName LIKE '%' + @searchTerm + '%'
            OR p.Description LIKE '%' + @searchTerm + '%')
        AND (@categoryId IS NULL OR p.CategoryId = @categoryId);

    SELECT 
        p.ProductId,
        p.ProductName,
        p.Description,
        p.InStock,
        p.Price,
        p.CreatedAt,
        p.UpdatedAt,
        s.BusinessName,
        s.Country,
        -- Get only the first image per product (can be changed if needed)
        pi.ImageUrl
    FROM Products p
    
    INNER JOIN Sellers s ON p.UserId = s.UserId
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId 
        ORDER BY ImageId -- assuming ImageId reflects upload order
    ) pi
    WHERE InStock>0
    AND (@searchTerm IS NULL 
            OR p.ProductName LIKE '%' + @searchTerm + '%'
            OR p.Description LIKE '%' + @searchTerm + '%')
        AND (@categoryId IS NULL OR p.CategoryId = @categoryId)
    ORDER BY p.CreatedAt DESC
    OFFSET @offset ROWS
    FETCH NEXT @limit ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsToDisplay]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsToDisplay]
AS
BEGIN
    SELECT 
        p.ProductId,
        p.ProductName,
        -- p.Description,
        --p.InStock,
        p.Price,
        --p.CreatedAt,
        --p.UpdatedAt,
        s.BusinessName,
        s.Country,
        -- Get only the first image per product (can be changed if needed)
        pi.ImageUrl
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId

    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId -- assuming ImageId reflects upload order
    ) pi
    WHERE s.IsVerified = 0 AND p.InStock > 0
END 
GO
/****** Object:  StoredProcedure [dbo].[GetRequestsByUserId]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRequestsByUserId]
@UserId VARCHAR(50)
AS
BEGIN
SELECT * FROM PasswordResetRequests WHERE UserId=@UserId 
END
GO
/****** Object:  StoredProcedure [dbo].[GetSellerDetails]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSellerDetails]
    @SellerId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        S.UserId AS SellerId,
        S.BusinessNumber,
        S.BusinessName,
        S.Country,
        S.PaymentAccount,
        S.IsVerified,
        S.IsStoreActive,
        U.Username,
        U.Email,
        U.Role,
        U.CreatedAt,
        U.UpdatedAt,
        U.IsDeleted
    FROM Sellers AS S
    INNER JOIN Users AS U
        ON S.UserId = U.UserId
    WHERE S.UserId = @SellerId
      AND U.IsDeleted = 0;  -- Optional: skip deleted users
END;

-- EXEC GetSellerDetails '44ed8a2f-10ed-4fe7-888f-c4809da023c1'
GO
/****** Object:  StoredProcedure [dbo].[GetShippingDetailById]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetShippingDetailById]
    @ShippingId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM ShippingDetails
    WHERE ShippingId = @ShippingId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetShippingDetailsByUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetShippingDetailsByUser]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM ShippingDetails
    WHERE UserId = @UserId
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetStoreInfoFromId]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetStoreInfoFromId]
@UserId VARCHAR(50)
AS
BEGIN
SET NOCOUNT ON

    SELECT * FROM Sellers WHERE UserId=@UserId

END
GO
/****** Object:  StoredProcedure [dbo].[GetSubCategoryById]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSubCategoryById](@SubCategoryId VARCHAR(50))
AS
BEGIN
    SELECT * FROM SubCategories WHERE SubCategoryId = @SubCategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetSubCategoryByName]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSubCategoryByName]
    @SubCategoryName VARCHAR(50),
    @CategoryId VARCHAR(50)
AS
BEGIN
    SELECT * 
    FROM SubCategories 
    WHERE SubCategoryName = @SubCategoryName 
      AND CategoryId = @CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    -- WHERE Email = @Email AND IsDeleted = 0;
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserById]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    WHERE UserId = @UserId AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserByVerificationToken]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserByVerificationToken]
    @VerificationToken NVARCHAR(255)
AS
BEGIN
    SELECT * FROM Users WHERE VerificationToken = @VerificationToken;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserCart]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserCart]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ci.CartItemId,
        ci.UserId,
        ci.ProductId,
        ci.Quantity,
        ci.DateAdded,
        p.ProductName,
        p.Description,
        p.Price,
        p.InStock,
        --Additional Extra fields for detailed information about the product in the cart
        p.CategoryId,
        p.SubCategoryId,
        p.ShippingPrice,
        p.TotalPrice,
        p.ExpressShippingPrice,
        p.ExpressTotalPrice,
        p.UserId AS SellerId,

        s.BusinessName AS SellerName,
        s.BusinessNumber AS SellerVATNumber,
        s.Country AS SellerCountry,
        
        -- Return the first image for that product
        (
            SELECT TOP 1 pi.ImageUrl 
            FROM ProductImages pi 
            WHERE pi.ProductId = p.ProductId
        ) AS ProductImageUrl
    FROM CartItems ci
    INNER JOIN Products p ON ci.ProductId = p.ProductId
    INNER JOIN Sellers s ON p.UserId = s.UserId
    WHERE ci.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserOrders]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetUserOrders]
    @UserId VARCHAR(50),
    @Role VARCHAR(20) = 'Buyer'   -- can be 'buyer' or 'seller'
AS
BEGIN
    SET NOCOUNT ON;

    IF @Role NOT IN ('Buyer', 'Seller', 'Admin')
    BEGIN
        RAISERROR('Invalid role. Must be buyer or seller.', 16, 1);
        RETURN;
    END;

    SELECT 
        o.OrderId,
        o.TotalAmount,
        o.DeliveryStatus,
        o.CreatedAt AS OrderDate,
        o.PaymentIntentId,

        -- Buyer info (useful for sellers’ dashboard)
        bu.Username AS BuyerName,
        bu.Email AS BuyerEmail,

        -- Seller info (useful for buyers’ dashboard)
        s.BusinessName AS SellerName,
        s.Country AS SellerCountry,
        s.BusinessNumber AS SellerBusinessNumber,

        -- Shipping snapshot
        osd.FullName,
        osd.PhoneNumber,
        osd.AddressLine1,
        osd.AddressLine2,
        osd.City,
        osd.StateOrProvince,
        osd.PostalCode,
        osd.Country AS ShippingCountry,

        -- 🧾 Nested JSON array of items per order
        (
            SELECT 
                oi.OrderItemId,
                oi.ProductId,
                oi.ProductName,
                oi.Description,
                oi.ProductImageUrl,
                oi.Quantity,
                oi.UnitPrice,
                oi.ShippingPrice,
                (oi.Quantity * oi.UnitPrice + oi.ShippingPrice) AS ItemTotal,
                CASE 
                    WHEN oi.ShippingPrice = p.ExpressShippingPrice THEN 'Express'
                    ELSE 'Standard'
                END AS ShippingType
            FROM OrderItems oi
            INNER JOIN Products p ON oi.ProductId = p.ProductId
            WHERE oi.OrderId = o.OrderId
            FOR JSON PATH
        ) AS OrderItems

    FROM Orders o
    INNER JOIN Sellers s ON o.SellerId = s.UserId
    INNER JOIN Users bu ON o.BuyerId = bu.UserId
    INNER JOIN OrderShippingDetails osd ON o.OrderId = osd.OrderId
    WHERE 
        (
            (@Role = 'Buyer' AND o.BuyerId = @UserId)
            OR
            (@Role = 'Seller' AND o.SellerId = @UserId)
            OR
            (@Role = 'Admin')

        )
        AND o.IsDeleted = 0
    ORDER BY o.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUsersByRole]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersByRole]
    @Role VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserId, Username, Email, CreatedAt, UpdatedAt
    FROM Users
    WHERE Role = @Role AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserWishList]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserWishList]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wl.WishListItemId,
        wl.UserId,
        wl.ProductId,
        wl.DateAdded,
        p.ProductName,
        p.Description,
        p.Price,
        p.InStock,
        -- Return the first image for that product
        (
            SELECT TOP 1 pi.ImageUrl 
            FROM ProductImages pi 
            WHERE pi.ProductId = p.ProductId
        ) AS ProductImageUrl
    FROM WishList wl
    INNER JOIN Products p ON wl.ProductId = p.ProductId
    WHERE wl.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[HardDeleteUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[HardDeleteUser]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[IncrementCartItemQuantity]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[IncrementCartItemQuantity]
    @UserId VARCHAR(50),
    @ProductId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM CartItems
        WHERE UserId = @UserId AND ProductId = @ProductId
    )
    BEGIN
        UPDATE CartItems
        SET Quantity = Quantity + 1
        WHERE UserId = @UserId AND ProductId = @ProductId;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoResetRequest]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertIntoResetRequest]
@ResetId VARCHAR(50),
@UserId VARCHAR(50),
@TokenHash NVARCHAR(512)

AS
BEGIN
INSERT INTO PasswordResetRequests(ResetId, UserId, TokenHash)
VALUES(@ResetId, @UserId, @TokenHash)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertOrderWithItems]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertOrderWithItems]
    @OrderId VARCHAR(50),
    @BuyerId VARCHAR(50),
    @OrderDate DATETIME,
    @TotalAmount DECIMAL(10,2)
   
AS
BEGIN
  SELECT * FROM Users
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertSessionIdToDraft]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertSessionIdToDraft]
    @DraftId VARCHAR(50),
    @SessionId NVARCHAR(255)
AS
BEGIN
    UPDATE CheckoutDrafts
    SET SessionId = @SessionId
    WHERE DraftId = @DraftId;
END;
GO
/****** Object:  StoredProcedure [dbo].[MarkCheckoutDraftAsUsed]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MarkCheckoutDraftAsUsed]
    @DraftId VARCHAR(50)
AS
BEGIN
    UPDATE CheckoutDrafts
    SET IsUsed = 1, UpdatedAt = GETDATE()
    WHERE DraftId = @DraftId;
END;
GO
/****** Object:  StoredProcedure [dbo].[QuickRemoveProductFromWishlist]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QuickRemoveProductFromWishlist]
    @UserId VARCHAR(50),
    @ProductId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @WishListItemId VARCHAR(50);

    -- Step 1: Get the WishlistItemId that matches the product and user
    SELECT TOP 1 @WishListItemId = WishListItemId
    FROM WishList
    WHERE ProductId = @ProductId AND UserId = @UserId;

    -- Step 2: If the item exists, delete it
    IF @WishListItemId IS NOT NULL
    BEGIN
        DELETE FROM WishList
        WHERE WishListItemId = @WishListItemId;

        
    END
    
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterSeller]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RegisterSeller]
    @UserId VARCHAR(50),
    @BusinessNumber NVARCHAR(20),
    @BusinessName NVARCHAR(255),
    @Country VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the user exists and is currently a buyer
    IF NOT EXISTS (
        SELECT 1 FROM Users
        WHERE UserId = @UserId AND Role = 'Buyer'
    )
    BEGIN
        RAISERROR('User does not exist or is not eligible to become a seller.', 16, 1);
        RETURN;
    END

    -- Check if the business number is already used
    IF EXISTS (
        SELECT 1 FROM Sellers
        WHERE BusinessNumber = @BusinessNumber
    )
    BEGIN
        RAISERROR('Business Number already registered.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert seller details
        INSERT INTO Sellers (UserId, BusinessNumber, BusinessName, Country)
        VALUES (@UserId, @BusinessNumber, @BusinessName, @Country);

        -- Update the user's role to Seller
        UPDATE Users
        SET Role = 'Seller'
        WHERE UserId = @UserId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveCartItem]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RemoveCartItem]
    @CartItemId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CartItems
    WHERE CartItemId = @CartItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveItem]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RemoveItem]
    @WishListItemId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM WishList
    WHERE WishListItemId = @WishListItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[RestoreUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestoreUser]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsDeleted = 0,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId AND IsDeleted = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchProducts]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        p.ProductId,
        p.ProductName,
        p.InStock,
        p.Price,
        p.CreatedAt,
        p.UpdatedAt,
        s.BusinessName,
        s.Country,
        pi.ImageUrl
    FROM Products p
    INNER JOIN Sellers s ON p.UserId = s.UserId
    OUTER APPLY (
        SELECT TOP 1 ImageUrl 
        FROM ProductImages 
        WHERE ProductId = p.ProductId
        ORDER BY ImageId
    ) pi
    WHERE 
        s.IsVerified = 0 
        AND p.InStock > 0
        AND p.ProductName LIKE '%' + @SearchTerm + '%'
    ORDER BY 
        CASE 
            WHEN p.ProductName LIKE @SearchTerm + '%' THEN 1  -- Starts with search term (highest priority)
            WHEN p.ProductName LIKE '%' + @SearchTerm THEN 2   -- Ends with search term
            ELSE 3                                              -- Contains search term anywhere
        END,
        p.ProductName;  -- Then alphabetically
END
GO
/****** Object:  StoredProcedure [dbo].[SetDefaultShipping]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SetDefaultShipping]
    @UserId VARCHAR(50),
    @ShippingId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Validate that the ShippingId belongs to the User
    IF NOT EXISTS (
        SELECT 1
        FROM ShippingDetails
        WHERE ShippingId = @ShippingId AND UserId = @UserId
    )
    BEGIN
        RAISERROR('Invalid ShippingId or ShippingId does not belong to this user.', 16, 1);
        RETURN;
    END;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Step 2: Unset all other defaults for the same user
        UPDATE ShippingDetails
        SET IsDefault = 0
        WHERE UserId = @UserId;

        -- Step 3: Set the given address as default
        UPDATE ShippingDetails
        SET IsDefault = 1
        WHERE ShippingId = @ShippingId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SoftDeleteUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SoftDeleteUser]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsDeleted = 1,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCheckoutDraft]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateCheckoutDraft]
    @DraftId VARCHAR(50),
    @BuyerId VARCHAR(50),
    @CartItemsJson NVARCHAR(MAX),
    @ShippingOptionsJson NVARCHAR(MAX),
    @ShippingAddressJson NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO CheckoutDrafts (DraftId, BuyerId, CartItemsJson, ShippingOptionsJson, ShippingAddressJson, IsUsed, CreatedAt)
    VALUES (@DraftId, @BuyerId, @CartItemsJson, @ShippingOptionsJson, @ShippingAddressJson, 0, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[ToggleSellerVerification]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ToggleSellerVerification]
    @UserId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentStatus BIT;

    SELECT @CurrentStatus = IsVerified FROM Sellers WHERE UserId = @UserId;

    IF @CurrentStatus IS NULL
    BEGIN
        RAISERROR('Seller not found.', 16, 1);
        RETURN;
    END

    UPDATE Sellers
    SET IsVerified = CASE WHEN @CurrentStatus = 1 THEN 0 ELSE 1 END
    WHERE UserId = @UserId;

    SELECT 
        UserId,
        BusinessName,
        IsVerified
    FROM Sellers
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCartItem]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateCartItem]
    @CartItemId VARCHAR(50),
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE CartItems
    SET Quantity = @Quantity
    WHERE CartItemId = @CartItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDraftStatus]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateDraftStatus]
    @DraftId VARCHAR(50),
    @NewStatus VARCHAR(20)   -- e.g., 'cancelled', 'expired', 'failed', 'pending'
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE CheckoutDrafts
    SET Status = @NewStatus,
        UpdatedAt = GETDATE()
    WHERE DraftId = @DraftId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateProduct](
    @ProductId VARCHAR(50),
    @ProductName NVARCHAR(50),
    @CategoryId  VARCHAR(50),
    @Price DECIMAL(10, 2),
    @Description NVARCHAR(MAX),
    @InStock INT)

    AS
    BEGIN
        UPDATE Products
        SET ProductName=@ProductName, CategoryId=@CategoryId, Price=@Price, Description=@Description, InStock=@InStock
        WHERE ProductId=@ProductId
    END
GO
/****** Object:  StoredProcedure [dbo].[UpdateShippingDetail]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateShippingDetail]
    @ShippingId VARCHAR(50),
    @UserId VARCHAR(50),
    @FullName NVARCHAR(255),
    @PhoneNumber VARCHAR(20),
    @AddressLine1 NVARCHAR(255),
    @AddressLine2 NVARCHAR(255) = NULL,
    @City NVARCHAR(100),
    @StateOrProvince NVARCHAR(100) = NULL,
    @PostalCode VARCHAR(20) = NULL,
    @Country VARCHAR(50),
    @IsDefault BIT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Ensure the record belongs to the authenticated user
    IF NOT EXISTS (SELECT 1 FROM ShippingDetails WHERE ShippingId = @ShippingId AND UserId = @UserId)
    BEGIN
        RAISERROR('Unauthorized update or record not found.', 16, 1);
        RETURN;
    END;

    -- ✅ Update only editable fields
    UPDATE ShippingDetails
    SET 
        FullName = @FullName,
        PhoneNumber = @PhoneNumber,
        AddressLine1 = @AddressLine1,
        AddressLine2 = @AddressLine2,
        City = @City,
        StateOrProvince = @StateOrProvince,
        PostalCode = @PostalCode,
        Country = @Country,
        IsDefault = @IsDefault
    WHERE ShippingId = @ShippingId AND UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateUser]
    @UserId VARCHAR(50),
    @Username NVARCHAR(50),
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(255),
    @Role VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        Username = @Username,
        Email = @Email,
        PasswordHash = @PasswordHash,
        Role = @Role,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPassword]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateUserPassword]
    @UserId VARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET PasswordHash = @PasswordHash,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateVerificationToken]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateVerificationToken]
    @Email NVARCHAR(255),
    @VerificationToken NVARCHAR(255)
AS
BEGIN
    UPDATE Users
    SET VerificationToken = @VerificationToken
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[UploadProductWithImages]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UploadProductWithImages]
    @ProductId VARCHAR(50),
    @CategoryId VARCHAR(50),
    @SubCategoryId VARCHAR(50),
    @UserId VARCHAR(50),
    @ProductName NVARCHAR(50),
    @Description NVARCHAR(MAX),
    @InStock INT,
    @Price DECIMAL(10,2),
    @ShippingPrice DECIMAL(10,2),
    @ExpressShippingPrice DECIMAL(10,2),
    @Images ProductImageTableType READONLY
AS
BEGIN
    SET XACT_ABORT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Insert product
        INSERT INTO Products (
            ProductId, CategoryId, SubCategoryId, UserId, ProductName, Description, InStock, Price, ShippingPrice, ExpressShippingPrice
        )
        VALUES (
            @ProductId, @CategoryId, @SubCategoryId, @UserId, @ProductName, @Description, @InStock, @Price, @ShippingPrice, @ExpressShippingPrice
        );

        -- Insert images
        INSERT INTO ProductImages (ImageId, ProductId, ImageUrl)
        SELECT ImageId, @ProductId, ImageUrl
        FROM @Images;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[UpsertCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpsertCategory](
    @CategoryId VARCHAR(50),
    @CategoryName VARCHAR(50)
    -- @Description VARCHAR(MAX)
    )

    AS
    BEGIN
    IF EXISTS (SELECT 1 FROM Categories WHERE CategoryId=@CategoryId)
    BEGIN
        UPDATE Categories
        SET CategoryName=@CategoryName
        WHERE CategoryId=@CategoryId
    END
    ELSE
    BEGIN
        INSERT INTO Categories (CategoryId, CategoryName)
        VALUES (@CategoryId, @CategoryName)
    END
    END


GO
/****** Object:  StoredProcedure [dbo].[UpsertSubCategory]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpsertSubCategory]
    @SubCategoryId VARCHAR(50),
    @CategoryId VARCHAR(50),
    @SubCategoryName VARCHAR(50)

AS
BEGIN
IF EXISTS (SELECT 1 FROM SubCategories WHERE SubCategoryId = @SubCategoryId)
BEGIN
    UPDATE SubCategories
    SET
        
        SubCategoryName = @SubCategoryName
    WHERE SubCategoryId = @SubCategoryId
END
ELSE
BEGIN
    INSERT INTO SubCategories (SubCategoryId, CategoryId, SubCategoryName)
    VALUES (@SubCategoryId, @CategoryId, @SubCategoryName)
END
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyUserEmail]    Script Date: 1/17/2026 1:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VerifyUserEmail]
    @UserId VARCHAR(50)
AS
BEGIN
    UPDATE Users
    SET IsEmailVerified = 1,
        VerificationToken = NULL,
        UpdatedAt = GETDATE()
    WHERE UserId = @UserId;
END
GO
USE [master]
GO
